In [3]:
a=8+3j
b=7+1j
c=a-b
print(c)
print(type(c))

(1+2j)
<class 'complex'>

In [15]:
a= float(input("Enter a number"))
import math
print(a**(1/4))

Enter a number16
2.0

In [18]:
a=10
b=204
temp=a
a=b
b=temp
print(a,b)

204 10

In [20]:
a=10
b=204
a,b=b,a
print(a,b)

204 10

In [25]:
F=float(input("Enter a number"))
C=(F-32)*5/9
print(C+273)
print(C)

Enter a number45
280.22222222222223
7.222222222222222

In [28]:
a,b,c,d,e,f='adityan',10,[],(1,2),{1,2},{a:1}
print (type (a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>